*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

img,
picture {
	max-width: 100%;
	display: block;
	height: auto;
	cursor: pointer;
}

input,
button,
textarea,
select {
	font: inherit;
}

html {
	text-size-adjust: 100%;
	font-size: 18px;
	position: relative;
}

body {
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: var(--font-sans);
	transition: all 0.2s ease-out;
	line-height: var(--line-height);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

:target {
	@supports (scroll-margin-top: 2em) {
		scroll-margin-top: 2em;
	}
	@supports not (scroll-margin-top: 2em) {
		scroll-snap-margin-top: 2em;
	}
}

::selection {
	background-color: var(--color-melon);
}

p,
li {
	line-height: var(--line-height);
	font-size: var(--font);
}

p + p {
	margin-top: var(--spacing-half);
}

.button {
	border-radius: 0.4em;
	padding: 0.4em 0.6em;
	user-select: none;
	color: #1c1c1e;
	-webkit-tap-highlight-color: transparent;
}

a {
	color: var(--color-text);
}

svg.annotation,
svg.edit-annotation {
	color: var(--color-melon-dark);
}

@media (prefers-color-scheme: dark) {
	:root:not([data-user-color-scheme]) svg.annotation,
	svg.edit-annotation {
		color: var(--color-melon);
	}
}

:root[data-user-color-scheme='dark'] svg.annotation,
svg.edit-annotation {
	color: var(--color-melon);
}

.highlight {
	cursor: pointer;
}
