@use 'variables';

#svelte {
	padding-bottom: var(--spacing-2);
	@media screen and (min-width: #{variables.$breakpoint-s}px) {
		display: grid;
		grid-template:
			'header comment' auto
			'main comment' auto / 3fr 2fr;
	}

	@media screen and (min-width: #{variables.$breakpoint-m}px) {
		grid-template: 'header main comment' 1fr / 20% 50% 30%;
	}
}

#header {
	contain: content;
	grid-area: header;
	@media screen and (min-width: #{variables.$breakpoint-m}px) {
		grid-area: none;
		position: fixed;
		top: 0;
		width: 20vw;
		height: 100%;
		contain: strict;
	}
}

main {
	contain: layout;
	grid-area: main;
}

#comment {
	@media screen and (max-width: #{variables.$breakpoint-s}px) {
		display: none;
	}
	@media screen and (min-width: #{variables.$breakpoint-s}px) {
		contain: strict;
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 40%;
	}
	@media screen and (min-width: #{variables.$breakpoint-m}px) {
		width: 30%;
	}
}
