@use 'variables';

main {
	padding: 0 var(--spacing-half);
	margin-top: var(--spacing);
	@media screen and (min-width: #{variables.$breakpoint-m}px) {
		margin-top: 0;
		padding: var(--spacing-3) var(--spacing-2) var(--spacing-3) var(--spacing);
	}
}

h2 {
	margin-bottom: var(--spacing-half);
}

h3 {
	margin-top: var(--spacing);
	margin-bottom: var(--spacing-half);
}

figure {
	margin-bottom: var(--spacing-half);
}

figcaption {
	text-align: center;
	font-size: var(--font-s);
	color: var(--color-coral);
}

blockquote {
	padding-left: var(--spacing-half);
	margin-top: var(--spacing-half);
	margin-bottom: var(--spacing-half);
	border-left: 1px solid var(--color-melon-dark);
}

article {
	ul {
		list-style: none;
		padding: 0;
	}

	li + li {
		margin-top: var(--spacing-half);
	}
}
